@use 'data.scss' as media;

:root {
	--media-mobile-sm:#{media.$mobile_sm};
	--media-mobile-md:#{media.$mobile_md};
	--media-mobile-lg:#{media.$mobile_lg};

	--media-tablet-sm:#{media.$tablet_sm};
	--media-tablet-md:#{media.$tablet_md};
	--media-tablet-lg:#{media.$tablet_lg};

	--media-desktop-sm:#{media.$desktop_sm};
	--media-desktop-md:#{media.$desktop_md};
	--media-desktop-lg:#{media.$desktop_lg};
}
