//	Миксин для заголовка 1-ого уровня
@mixin h1 {
	font-weight: 600;
	font-size: 48px;
	line-height: 105%;
	letter-spacing: -0.02em;
}

//	Миксин для заголовка 2-ого уровня
@mixin h2 {
	font-weight: 600;
	font-size: 36px;
	line-height: 105%;
	letter-spacing: -0.02em;
}

//	Миксин для заголовка 3-его уровня
@mixin h3 {
	font-weight: 600;
	font-size: 30px;
	line-height: 105%;
	letter-spacing: -0.02em;
}

//	Миксин для заголовка 4-ого уровня
@mixin h4 {
	font-weight: 600;
	font-size: 24px;
	line-height: 105%;
	letter-spacing: -0.02em;
}

//	Миксин для заголовка 5-ого уровня
@mixin h5 {
	font-weight: 600;
	font-size: 16px;
	line-height: 105%;
	letter-spacing: -0.02em;
}

//	Миксин для заголовка 6-ого уровня
@mixin h6 {
	font-weight: 600;
	font-size: 12px;
	line-height: 105%;
	letter-spacing: -0.02em;
}

//	Миксин для параграфа
@mixin p {
	font-size: 16px;
}

//	Миксин для мелкого текста
@mixin subtext {
	font-size: 14px;
}

//	Миксин для сноски
@mixin footnote {
	font-size: 12px;
}
