//	Миксин для заголовка 1-ого уровня
@mixin text_h1 {
	font-weight: 600;
	font-size: 48px;
	line-height: 105%;
	letter-spacing: -0.02em;
}

//	Миксин для заголовка 2-ого уровня
@mixin text_h2 {
	font-weight: 600;
	font-size: 36px;
	line-height: 105%;
	letter-spacing: -0.02em;
}

//	Миксин для заголовка 3-его уровня
@mixin text_h3 {
	font-weight: 600;
	font-size: 30px;
	line-height: 105%;
	letter-spacing: -0.02em;
}

//	Миксин для заголовка 4-ого уровня
@mixin text_h4 {
	font-weight: 600;
	font-size: 24px;
	line-height: 105%;
	letter-spacing: -0.02em;
}

//	Миксин для заголовка 5-ого уровня
@mixin text_h5 {
	font-weight: 600;
	font-size: 16px;
	line-height: 105%;
	letter-spacing: -0.02em;
	text-transform: uppercase;
}

//	Миксин для заголовка 6-ого уровня
@mixin text_h6 {
	font-weight: 600;
	font-size: 12px;
	line-height: 105%;
	letter-spacing: -0.02em;
}

//	Миксин для параграфа
@mixin text_p {
	font-size: 16px;
}
