._color_primary {
	color: var(--color-primary);
}

._color_secondary {
	color: var(--color-secondary);
}

._color_success {
	color: var(--color-success);
}

._color_warning {
	color: var(--color-warning);
}

._color_danger {
	color: var(--color-danger);
}

._color_info {
	color: var(--color-info);
}

._color-bg_primary {
	background-color: var(--color-primary);
}

._color-bg_secondary {
	background-color: var(--color-secondary);
}

._color-bg_success {
	background-color: var(--color-success);
}

._color-bg_warning {
	background-color: var(--color-warning);
}

._color-bg_danger {
	background-color: var(--color-danger);
}

._color-bg_info {
	background-color: var(--color-info);
}

._color-fill_primary {
	fill: var(--color-primary);
}

._color-fill_secondary {
	fill: var(--color-secondary);
}

._color-fill_success {
	fill: var(--color-success);
}

._color-fill_warning {
	fill: var(--color-warning);
}

._color-fill_danger {
	fill: var(--color-danger);
}

._color-fill_info {
	fill: var(--color-info);
}
