@import 'src.scss';

@font-face {
	font-family: Montserrat;
	src: url('../../../fonts/Montserrat-Regular.eot'),
	url('../../../fonts/Montserrat-Regular.ttf'),
	url('../../../fonts/Montserrat-Regular.woff'),
	url('../../../fonts/Montserrat-Regular.woff2');
}

@font-face {
	font-family: Montserrat;
	src: url('../../../fonts/Montserrat-Bold.eot'),
	url('../../../fonts/Montserrat-Bold.ttf'),
	url('../../../fonts/Montserrat-Bold.svg'),
	url('../../../fonts/Montserrat-Bold.woff'),
	url('../../../fonts/Montserrat-Bold.woff2');
	font-weight: bold;
}

//	Дефолтные стили
h1,
.h1 {
	@include text_h1;
}

h2,
.h2 {
	@include text_h2;
}

h3,
.h3 {
	@include text_h3;
}

h4,
.h4 {
	@include text_h4;
}

h5,
.h5 {
	@include text_h5;
}

h6,
.h6 {
	@include text_h6;
}

p {
	font-size: 16px;
}

a {
	color: inherit;
}

//	Модификаторы
p._text-footnote,
.p._text-footnote {
	font-size: 12px;
}

:root {
	--family-primary: #{$family_primary};
}
