//@import 'modules/colors/vars.scss';
//@import 'modules/fonts/vars.scss';
//@import 'modules/media/vars.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	//font-family: var(--family-primary);
}

//@import 'modules/colors/index.scss';
//@import 'modules/fonts/index.scss';
