@import 'src.scss';

:root {
	--media-mobile-sm:#{$mobile_sm};
	--media-mobile-md:#{$mobile_md};
	--media-mobile-lg:#{$mobile_lg};

	--media-tablet-sm:#{$tablet_sm};
	--media-tablet-md:#{$tablet_md};
	--media-tablet-lg:#{$tablet_lg};

	--media-desktop-sm:#{$desktop_sm};
	--media-desktop-md:#{$desktop_md};
	--media-desktop-lg:#{$desktop_lg};
}
