@import 'src.scss';

:root {
	//  Исходные цвета
	--color-basic-text: #{$colorText};
	--color-basic-back: #{$colorBack};
	--color-basic-primary: #{$colorPrimary};
	--color-basic-secondary: #{$colorSecondary};
	--color-basic-success: #{$colorSuccess};
	--color-basic-warning: #{$colorWarning};
	--color-basic-danger: #{$colorDanger};
	--color-basic-info: #{$colorInfo};
	--color-basic-muted: #{$colorMuted};

	--color-basic-text--light: #{$colorTextLight};
	--color-basic-back--light: #{$colorBackLight};
	--color-basic-primary--light: #{$colorPrimaryLight};
	--color-basic-secondary--light: #{$colorSecondaryLight};
	--color-basic-success--light: #{$colorSuccessLight};
	--color-basic-warning--light: #{$colorWarningLight};
	--color-basic-danger--light: #{$colorDangerLight};
	--color-basic-info--light: #{$colorInfoLight};
	--color-basic-muted--light: #{$colorMutedLight};

	--color-basic-text--dark: #{$colorTextDark};
	--color-basic-back--dark: #{$colorBackDark};
	--color-basic-primary--dark: #{$colorPrimaryDark};
	--color-basic-secondary--dark: #{$colorSecondaryDark};
	--color-basic-success--dark: #{$colorSuccessDark};
	--color-basic-warning--dark: #{$colorWarningDark};
	--color-basic-danger--dark: #{$colorDangerDark};
	--color-basic-info--dark: #{$colorInfoDark};
	--color-basic-muted--dark: #{$colorMutedDark};

	//  Цвета по назначению
	--color-text: var(--color-basic-text);
	--color-text--inverse: var(--color-basic-back);
	--color-text--muted: var(--color-basic-muted);
	--color-text--muted--inverse: var(--color-basic-muted--light);
	--color-text--on-primary: var(--color-basic-back);
	--color-text--on-secondary: var(--color-basic-back);
	--color-back: var(--color-basic-back);
	--color-back--inverse: var(--color-basic-text);
	--color-primary: var(--color-basic-primary);
	--color-primary--hover: var(--color-basic-primary--light);
	--color-secondary: var(--color-basic-secondary);
	--color-secondary--hover: var(--color-basic-secondary--light);
}
