//  Сгенерировано здесь:
//  https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=ff359a&secondary.color=E53935

$colorText: #232323;
$colorBack: #f2f2f2;
$colorPrimary: #b3e5fc;
$colorSecondary: #ef9a9a;
$colorSuccess: #00e676;
$colorWarning: #ffeb3b;
$colorDanger: #e53935;
$colorInfo: #03a9f4;
$colorMuted: #bfbfbf;

$colorTextLight: #4b4b4b;
$colorBackLight: #ffffff;
$colorPrimaryLight: #e6ffff;
$colorSecondaryLight: #ffcccb;
$colorSuccessLight: #66ffa6;
$colorWarningLight: #ffff72;
$colorDangerLight: #ff6f60;
$colorInfoLight: #67daff;
$colorMutedLight: #f2f2f2;

$colorTextDark: #000000;
$colorBackDark: #bfbfbf;
$colorPrimaryDark: #82b3c9;
$colorSecondaryDark: #ba6b6c;
$colorSuccessDark: #00b248;
$colorWarningDark: #c8b900;
$colorDangerDark: #ab000d;
$colorInfoDark: #007ac1;
$colorMutedDark: #8f8f8f;
